.editor {
	display: grid;
	grid-template-columns: 0.8fr 1.7fr;
	grid-template-areas: "Properties Playground";
	z-index: 1;
	position: relative;
}

.block {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
}

.properties {
	grid-area: Properties;
	display: grid;
	grid-template-rows: 50%;
	grid-template-areas: "ObjectList" "ObjectProperties";
}

.properties > .block { position: relative; }

.sprites { grid-area: ObjectList; }

.object { grid-area: ObjectProperties; }

.playground { grid-area: Playground; }

.title_grid {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}