@import "grid.css";
@import "scrollbar.css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

html, body, .editor {
	width: 100%;
	height: 100vh;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	padding: 0;
	font-size: 20px;
	cursor: pointer;
}

button.btn_transparent {
	border: 0;
	background-color: transparent;
}

.title, .title p {
	font-family: "8bitoperator";
}

.title {
	font-size: 20px;
	padding: 10px;
	height: 41px;
}

.content {
	position: absolute;
	top: 41px;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	max-height: 100%;
	overflow-x: auto;
	overflow-y: auto;
}

sup.required {
	color: red;
}

/* Properties block styles */
.properties {
	border-right: 1px solid;
}

/* Object list item styles */
.obj_list_item {
	display: grid;
	grid-template-columns: 23px 1fr 22%;
	padding: 5px 10px;
	cursor: pointer;
}

.obj_list_item > .icon,
.obj_list_item > .name,
.obj_list_item > .type {
	max-height: 24px;
}

.obj_list_item > .name,
.obj_list_item > .type {
	line-height: 24px;
}

.obj_list_item > .name {
	padding-left: 7px;
}

.obj_list_item > .type {
	text-align: right;
	font-size: 13px;
}

/* Playground block styles */
.block.playground .canvas_container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.block.playground .canvas_container > canvas {
	border: 1px dashed;
}

/* Modal main styles */
.modal_body {
	padding: 15px;
}

.modal_body, .modal_footer {
	border-top: 1px solid #ddd;
}

/* Forms */
.input_group:first-child {
	margin-top: 0;
}

.input_group {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.input_group label {
	font-size: 22px;
	margin-bottom: 5px;
}

.input_group input[type="text"] {
	padding: 10px 12px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
}

/* Custom file input */
.custom_file_input {
	display: grid;
	grid-template-columns: 90% 1fr;
}

.custom_file_input .result_field > p#filePath {
	border-radius: 5px 0 0 5px;
	padding: 14px 16px;
	background-color: #aaa;
}

.custom_file_input .choose_btn > a {
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: center;
	background-color: #aaa;
	border-left: 1px solid #ccc;
	border-radius: 0 6px 6px 0;
}

.bottom_right_button {
	border: 1px solid;
	border-radius: 5px;
	font-size: 16px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 10px 20px;
}