body {
    background-color: #444;
}

a {
    color: #4988DB;
}

.title {
    color: #fff;
	background-color: #2d2d2d;
}

.content {
    background-color: #444;
}

.block.layers .layer_list > .layer_item:not(:last-child) {
    border-bottom-color: #555; 
}

.layer_item > .layer_number {
    color: #eee;
}

.properties {
    border-left-color: #555;
    border-right-color: #555;
}

button {
    color: #fff;
}

.block.playground .canvas_container > canvas {
    border-color: #999;
}


/* Forms */
/* .form_group label {
    color: #eee;
}

.form_group input[type="text"] {
    background-color: #555;
    border-color: #666;
    color: #bbb;
}

.form_group .input_file .path {
    background-color: #555;
    border-color: #666;
}

.form_group .input_file .path > p.file_path {
    color: #bbb;
}

.form_group .input_file .choose_button button {
    background-color: #666;
    border-color: #666;
    color: #eee;
}

.bottom_right_button {
    background-color: #666;
    border-color: #777;
} */