* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "8bitoperator";
}

html, body, .app {
	width: 100%;
	height: 100vh;
}

.app {
	display: grid;
	grid-template-areas: "Frame Frame Frame" "Editor Editor Editor";
	grid-template-rows: 30px 1fr;
}

.app > .custom_frame {
	grid-area: Frame;
}

.app > .editor {
	display: grid;
	grid-template-columns: 0.4fr 0.8fr 1.7fr;
	grid-template-areas: "Layers Properties Playground";
	grid-area: Editor;
	z-index: 1;
}


.block {
	display: flex;
	flex-direction: column;
}

.layers { grid-area: Layers; }

.properties {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "Sprites" "Object";
	grid-area: Properties;
	position: relative;

	border-left: 1px solid #555;
	border-right: 1px solid #555;
}

.properties > .properties_block {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
}

.sprites { grid-area: Sprites; }

.object { grid-area: Object; }

.playground { grid-area: Playground; }

p.title {
	font-size: 20px;
	padding: 10px;
	color: #fff;
	background-color: #2d2d2d;
}

.content {
	background-color: #444;
	padding: 10px;
	height: 100%;
	overflow: auto;
}